html {
    --charcoal: #264653;
    --persian-green: #2a9d8f;
    --maize-crayola: #e9c46a;
    --sandy-brown: #f4a261;
    --burnt-sienna: #e76f51;
}

.App {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1024px;
}